.social-icons {
  text-align: center;
}

.fb {
  margin: 2%;
  color: white;
  height: 60px;
}

.fb:hover {
  color: #386ddd;
}

.git {
  margin: 2%;
  color: white;
  height: 60px;
}

.git:hover {
  color: #386ddd;
}

.twitter {
  margin: 2%;
  color: white;
  height: 60px;
}

.twitter:hover {
  color: #00acee;
}

.insta {
  margin: 2%;
  color: white;
  height: 60px;
}

.insta:hover {
  color: #e1306c;
}

.linkedin {
  margin: 2%;
  color: white;
  height: 60px;
}

.linkedin:hover {
  color: #0e76a8;
}

.youtube {
  margin: 2%;
  color: white;
  height: 60px;
}

.youtube:hover {
  color: #ff0000;
}
